nav {
  background:#4A90E2 ;
  min-width: 725px;
  height: 30px;
  padding: 12px 30px;
  line-height: 17px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 6px solid #FFD004;


}

nav img {
  height: 24px;
}